{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post {
            width: 80%;
            margin-left: 10%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .comments{
            margin-top:20px;
        }
        .comment{
            background:#242b2e;
            color:#fff;
            padding: 10px;
            margin-bottom:10px;
        }
    </style>
    <div class="post">
        <h1>{{ post.title }}</h1>
        <h4>{{ post.description }}</h4>
        <h4>Rate: {{ post.rate }}</h4>
        <div class="dates">
            <h5>{{ post.created_date }}</h5>
            <h5>{{ post.modified_date }}</h5>
        </div>
        <div class="comments">
            {% for comment in comments %}
            <div class = 'comment'>
                <h6>{{ comment.text }}</h6>
                <p>{{ comment.created_date }}</p>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
